# App config
WXT_APP_NAME=Assistente NFS-e
WXT_GITHUB_URL=https://github.com/nikolvs/assistente-nfse

# Development config
WXT_CHROME_BINARY=/usr/bin/google-chrome
WXT_START_URL=https://www.nfse.gov.br/EmissorNacional/Notas/Emitidas
